{% load static %}
<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <style>
        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {
            display: inline;
        }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>用户界面</title>
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app-assets/img/ico/apple-icon-60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'app-assets/img/ico/apple-icon-76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'app-assets/img/ico/apple-icon-120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'app-assets/img/ico/apple-icon-152.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/img/ico/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'app-assets/img/ico/favicon-32.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/feather/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/simple-line-icons/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/perfect-scrollbar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/prism.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/questionaire_result.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">

</head>


<body data-col="2-columns" class=" 2-columns ">
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper nav-collapsed menu-collapsed">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="d-lg-none navbar-right navbar-collapse-toggle">
                    <a class="open-navbar-container">
                    </a>
                </span>
            </div>
            <div class="navbar-container">
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <p>欢迎你，{{ orgname }}用户&nbsp&nbsp&nbsp{{ user }}</p>
                    <ul class="layui-nav-item">
                        <li class="dropdown layui-nav-item mr-0">
                            <a id="dropdownBasic3" href="#" data-toggle="dropdown"
                               class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                <span class="avatar avatar-online">
                                    <img id="navbar-avatar"
                                         src="{% static 'app-assets/img/portrait/small/avatar-s-3.jpg' %}"
                                         alt="avatar"/>
                                </span>
                                <p class="d-none">User Settings</p>
                            </a>
                            <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                <div class="arrow_box_right">
                                    <a href="{% url 'logout' %}" class="dropdown-item">
                                        <i class="layui-icon layui-icon-logout"
                                           style="font-size: 18px; color:black;"></i>
                                        <span>退出</span>
                                    </a>
                                </div>
                                <div class="arrow_box_right">
                                    <a href="" class="dropdown-item">
                                        <i class="layui-icon layui-icon-user" style="font-size: 18px; color:black;"></i>
                                        <span>修改密码</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-panel">
        <div class="main-content">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">问卷填写</li>
                    <li>数据</li>
                    <li>单位报告</li>
                    <li>整体报告</li>
                    <li>附件</li>
                </ul>
                <div class="layui-tab-content" style="height: 100%;">
                    <div class="layui-tab-item layui-show">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">问卷填写</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <ul class="pagination">
                                        <div id="pages"></div>
                                    </ul>
                                    <div id="question_list" class="col-md-6 col-sm-6 col-12"></div>
                                    <input type="button" class="btn btn-warning" value="保存" onclick="submit()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">数据分析</h4>
                                    <br><br><br><br>
                                    <a class="layui-btn layui-btn-normal layui-btn-radius"
                                       href="{% url "visualization" %}?app=user">往年数据查询</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">单位报告</h4>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>2019评估项目报告</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>网络信息评估报告</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">整体报告</h4>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>2019评估项目报告</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>网络信息评估报告</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">附件</h4>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>2020评估任务指南</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                    <fieldset class="layui-elem-field layui-field-title"
                                              style="margin-top: 20px;">
                                        <legend>用户系统操作手册</legend>
                                    </fieldset>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">下载
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Base style table -->
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-center px-2">
        <span>Copyright  &copy; CNIC
            <a href="#" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2"></a>, All rights reserved.
        </span>
    </p>
</footer>


<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<!-- BEGIN VENDOR JS-->
<script src="{% static 'app-assets/vendors/js/core/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/core/popper.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/prism.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/jquery.matchHeight-min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/screenfull.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pace/pace.min.js' %}"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{% static 'app-assets/vendors/js/datatable/datatables.min.js' %}"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN CONVEX JS-->
<script src="{% static 'app-assets/js/app-sidebar.js' %}"></script>
<script src="{% static 'app-assets/js/notification-sidebar.js' %}"></script>
<script src="{% static 'src/js/questionaire_result.js' %}"></script>
<script src="{% static 'src/js/questionaire.js' %}"></script>
<script src="{% static 'src/js/jquery.cookie.js' %}"></script>
<!-- END CONVEX JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="{% static 'app-assets/js/data-tables/datatable-styling.js' %}"></script>
<!-- END PAGE LEVEL JS-->
<script>
    var q = {{ question|safe }};
    var indicator_id = q[0]['indicator_id'];
    $('#question_list').append("<input style=\'display: none\' name='\indicatorID\'\n value=" + indicator_id + ">");
    for (var i = 0; i < q.length; i++) {
        var content = q[i]['content'];
        var question_type = q[i]['question_type'];
        if (q[i]['question_type'] === '选择题') {
            var len = $(".div_question").length + 1;
            $('#question_list').append("" +
                "<div class=\"div_question\" id = " + len + ">\n" +
                "    <form method=\"post\" class=\"form-horizontal\">\n" +
                "        <div onclick=\"toggle_edit(event)\" class='toggle'>\n" +
                "            <div>\n" +
                "                <h5 style=\'display: inline\'>" + len + '.' + ' ' + "</h5>" +
                "                <h5 style=\"display: inline\">" + JSON.parse(q[i]['content'])['title'] + "</h5>\n" +
                "            </div>\n" +
                "            <div>\n" +
                "               <ul class=\"choice_list\"></ul>\n" +
                "            </div>\n" +
                "        </div>\n" +
                "        <div>\n" +
                "           <input style=\"display: none\" name=\"questiontype\" + value=\"选择题\">\n" +
                "           <input style=\"display: none\" name=\"questionnumber\" + value= " + len + ">\n" +
                "        </div>" +
                "    </form>\n" +
                "</div><br>");
            for (var x = 0; x < JSON.parse(q[i]['content'])['answer'].length; x++) {
                $('.div_question').last().find('.choice_list').append("" +
                    "<li class=\"mb-2\">\n" +
                    "   <input type=\"checkbox\" name='choice' data-index = " + x + " onclick =\"ischecked(event)\">\n" +
                    "   <span>" + JSON.parse(q[i]['content'])['answer'][x] + "</span>" +
                    "</li>\n");
            }
        } else if (q[i]['question_type'] === '填空题') {
            var len = $(".div_question").length + 1;
            $('#question_list').append("" +
                "<div class=\"div_question\" id = " + len + ">\n" +
                "   <form method=\"post\" class=\"form-horizontal\">\n" +
                "       <div onclick=\"toggle_edit(event)\" class='toggle'>\n" +
                "           <div>\n" +
                "               <h5 style=\"display: inline\">" + len + '.' + ' ' + "</h5>\n" +
                "               <h5 style=\"display: inline\">" + JSON.parse(q[i]['content'])['title'] + " </h5>\n" +
                "           </div>\n" +
                "       </div>\n" +
                "       <div>\n" +
                "           <input style=\"display: none\" name=\"questiontype\" value=\"填空题\">\n" +
                "           <input style=\"display: none\" name=\"questionnumber\" value= " + len + ">\n" +
                "       </div>" +
                "   </form>\n" +
                "</div><br>");
        } else if (q[i]['question_type'] === '简答题') {
            var len = $(".div_question").length + 1;
            $('#question_list').append("" +
                "<div class=\"div_question\" id = " + len + ">\n" +
                "   <form method=\"post\" class=\"form-horizontal\">\n" +
                "       <div onclick = \"toggle_edit(event)\" class='toggle'>\n" +
                "           <div>\n" +
                "               <h5 style=\"display: inline\">" + len + '.' + ' ' + "</h5>\n" +
                "               <h5 style=\"display: inline\">" + JSON.parse(q[i]['content'])['title'] + " </h5>\n" +
                "               <textarea class=\'form-control\' name=\'answerarea\' disabled>答题区域</textarea>" +
                "           </div>\n" +
                "       </div>\n" +
                "       <div>\n" +
                "           <input style=\"display: none\" name=\"questiontype\" value=\'简答题\'>\n" +
                "           <input style=\"display: none\" name=\"questionnumber\" value= " + len + ">\n" +
                "       </div>" +
                "   </form>\n" +
                "</div><br>");
        } else if (q[i]['question_type'] === '矩阵题') {
            var len = $(".div_question").length + 1;
            $('#question_list').append("" +
                "<div class=\"div_question\" id = " + len + ">\n" +
                "   <form method=\"post\" class=\"form-horizontal\">\n" +
                "       <div onclick=\"toggle_edit(event)\" class='toggle'>\n" +
                "           <div>\n" +
                "               <h5 style=\"display: inline\">" + len + '.' + ' ' + "</h5>\n" +
                "               <h5 style=\"display: inline\">" + JSON.parse(q[i]['content'])['title'] + " </h5>\n" +
                "           </div>\n" +
                "           <div>\n" +
                "               <table class=\"table table-responsive-sm text-left\"  style=\"table-layout:fixed;\">\n" +
                "                   <thead>\n" +
                "                       <tr>\n" +
                "                           <td></td>\n" +
                "                       </tr>\n" +
                "                   </thead>\n" +
                "                   <tbody></tbody>\n" +
                "               </table>\n" +
                "           </div>\n" +
                "       </div>\n" +
                "       <div>\n" +
                "           <input style=\"display: none\" name=\"questiontype\" + value=\"矩阵题\">\n" +
                "           <input style=\"display: none\" name=\"questionnumber\" + value= " + len + ">\n" +
                "       </div>" +
                "   </form>\n" +
                "</div><br>");
            for (var x = 0; x < JSON.parse(q[i]['content'])['column'].length; x++) {
                $('.div_question').last().find('table').eq(0).children('thead').children().eq(0).append("" +
                    "<td>" + JSON.parse(q[i]['content'])['column'][x] + "</td>\n");
            }
            for (var y = 0; y < JSON.parse(q[i]['content'])['rows'].length; y++) {
                $('.div_question').last().find('table').eq(0).children('tbody').append("" +
                    "<tr>\n" +
                    "   <td>" + JSON.parse(q[i]['content'])['rows'][y] + "\n" +
                    "   </td>\n" +
                    "</tr>\n");
                for (var z = 0; z < JSON.parse(q[i]['content'])['column'].length; z++) {
                    $('.div_question').last().find('table').eq(0).children('tbody').children().eq(y).append("" +
                        "<td><a class=\"ft-circle\"</a></td>");
                }
            }
        } else if (q[i]['question_type'] === '表格题') {
            var len = $(".div_question").length + 1;
            $('#question_list').append("" +
                "<div class=\"div_question\" id = " + len + ">\n" +
                "   <form method=\"post\" class=\"form-horizontal\">\n" +
                "       <div onclick=\"toggle_edit(event)\" class='toggle'>\n" +
                "           <div>\n" +
                "               <h5 style=\"display: inline\">" + len + '.' + ' ' + "</h5>\n" +
                "               <h5 style=\"display: inline\">" + JSON.parse(q[i]['content'])['title'] + "  </h5>\n" +
                "           </div>\n" +
                "           <div>\n" +
                "               <table class=\"table table-responsive-sm text-left\" style=\"table-layout: fixed;\">\n" +
                "                   <thead>\n" +
                "                       <tr>\n" +
                "                           <td></td>\n" +
                "                       </tr>\n" +
                "                   </thead>\n" +
                "                   <tbody></tbody>\n" +
                "               </table>" +
                "           </div>" +
                "       </div>\n" +
                "       <div>\n" +
                "           <input style=\"display: none\" name=\"questiontype\" + value=\"表格题\">\n" +
                "           <input style=\"display: none\" name=\"questionnumber\" + value= " + len + ">\n" +
                "       </div>" +
                "       <center><button class=\"btn mr-1 btn-secondary\" onclick=\"return download_form(" + q[i]['question_id'] + ")\">导出模板</button>" + "&emsp;&emsp;" +
                "       <button class=\"btn mr-1 btn-secondary\" onclick=\"upload_form()\">导入表格</button>"+
                "   </form>\n" +
                "</div><br>");
            for (var x = 0; x < JSON.parse(q[i]['content'])['column'].length; x++) {
                $('.div_question').last().find('table').eq(0).children('thead').children().eq(0).append("" +
                    "<td>" + JSON.parse(q[i]['content'])['column'][x] + "</td>\n"
                );
            }
            for (var y = 0; y < JSON.parse(q[i]['content'])['rows'].length; y++) {
                $('.div_question').last().find('table').eq(0).children('tbody').append("" +
                    "<tr>\n" +
                    "   <td>" + JSON.parse(q[i]['content'])['rows'][y] +
                    "   </td> " +
                    "</tr>\n"
                );
                for (var z = 0; z < JSON.parse(q[i]['content'])['column'].length; z++) {
                    $('.div_question').last().find('table').eq(0).children('tbody').children().eq(y).append("" +
                        "<td>" +
                        "   <textarea disabled style='width: 100%'></textarea>" +
                        "</td>\n"
                    );
                }
            }
        } else if (q[i]['question_type'] === '附件题') {

        }
    }

    value_num = {{ page_num|safe }}

    //上一页按钮
    if(value_num != 0){
        $("#pages").append("<li><a name=" + (value_num-1) + " class=\"\" onclick=\"preview(this.name)\" >上一页</a></li>")
    }else{
        $("#pages").append("<li><a name=" + (value_num) + " class=\"\" onclick=\"preview(this.name)\" >上一页</a></li>")
    }

    //显示题目
    for (i = 0; i < {{ preview_length|safe }}; i++) {
        $("#pages").append("<li><a id=" + i + " class=\"\" onclick=\"preview(this.id)\" >" + (i+1) + "</a></li>")

    }

    page_len = {{ preview_length|safe }}
    //下一页按钮
    if(value_num != (page_len-1)){
        $("#pages").append("<li><a name=" + (value_num+1) + " class=\"\" onclick=\"preview(this.name)\" >下一页</a></li>")
    }else{
        $("#pages").append("<li><a name=" + (value_num) + " class=\"\" onclick=\"preview(this.name)\" >下一页</a></li>")
    }

    //当前页面按钮显示
    document.getElementById(value_num).className = 'active'

    function preview(value) {
        window.location.href = "{% url 'user' %}?page=" + value + ""
    }

    function download_form(value){
        window.location.href = "{% url 'download_form' %}?form=" + value + ""
        return false
    }

    function upload_form(){

    }
</script>

<script>
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function () {
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                    , content: '内容' + (Math.random() * 1000 | 0)
                    , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            , tabDelete: function (othis) {
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });
</script>

</body>
</html>