<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Reset your password</h1>
    <p>Please enter your new password twice:</p>
    <form action="{% url 'modify' %}" method="post">
      <P><span>新密码：</span><input type="password" name="newpwd1" placeholder="至少6位"></P>
      <P><span>确认新密码：</span><input type="password" name="newpwd2" placeholder="至少6位"></P>
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ email }}">
      <p><input type="submit" value="Change my password" /></p>
    </form>
  <h1>{{ msg }}</h1>

</body>
</html>
